body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Heading */

#game-title {
    font-family: 'Fredoka One', cursive;
    color: slategray;
    
}

/* Game Area */

.game-space {
    background-color: lightgrey;
    box-sizing: border-box;
    width: 90%;
    height: 80vh;
    max-height: 800px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

/* Buttons for controls */