body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Heading */

#game-title {
    font-family: 'Fredoka One', cursive;
    color: slategray;
    
}

/* Game Area */

.game-space {
    background-color: lightgrey;
    box-sizing: border-box;
    width: 90%;
    height: 80vh;
    max-height: 800px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.player-choice {
    width: 80%;
    height: 300px;
    margin: auto;
    padding: 20px;
}

/* Buttons for controls */

.btn {
    margin: 30px;
    width: 100px;
    height: 100px;
    border: 0;
    background-color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}

#rock {
    color: #E76F51;
    font-size: 100px;
    margin: 0;
    padding: 10px;
}

#paper {
    color: #E9C46A;
    font-size: 100px;
    margin: 0;
    padding: 10px;
}

#scissors {
    color: #F4A261;
    font-size: 100px;
    margin: 0;
    padding: 10px;
}

#lizard {
    color: #2A9D8F;
    font-size: 100px;
    margin: 0;
    padding: 10px;
}

#spock {
    color: #264653;
    font-size: 100px;
    margin: 0;
    padding: 10px;
}